<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanye.modules.talents.talentsFormal.mapper.TalTalentsAttachmentFormalMapper">
    <update id="copyToFormal" parameterType="long">
        INSERT INTO tal_talents_attachment_formal (SELECT * FROM tal_talents_attachment WHERE tal_id =#{talId})
    </update>
</mapper>
